$gap: 10px;

section{
  margin: auto;
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: $gap;
  button{
    margin: auto;
  }
}

form>div{
  max-width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap; 
  text-align: right;
}